* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 90%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
.pix {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.content {
  margin: 20px;
}
.first-text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}
h1 {
  font-family: "Fraunces", serif;
  line-height: 1;
  padding: 20px 0;
  font-weight: 700;
}
.amount-price {
  color: hsl(158, 36%, 37%);
}

.innertext {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  /* border: 1px solid red; */
  color: hsl(228, 12%, 48%);
}
.price {
  display: flex;
  align-items: center;
}
span {
  margin-left: 20px;
  text-decoration: line-through;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

.btn {
  width: 100%;
  padding: 12px 10px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .card {
    display: flex;
    width: 50%;
    max-width: 1200px;
    flex-direction: row;
  }
  .divpix {
    flex: 50%;
    /* border: 1px solid red; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .content {
    /* border: 1px solid red; */
    flex: 50%;
    margin-left: 30px;
  }
  .pix {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
  .first-text {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    padding-top: 10px;
  }
  h1 {
    padding-right: 80px;
  }
  .innertext {
    padding-right: 50px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  span {
    margin-left: -60px;
  }
  .content {
    margin: 20px 20px 20px 30px;
  }
  .btn {
    width: 80%;
    margin-top: 20px;
  }
  .btn:hover {
    background-color: hsl(159, 71%, 11%);
    cursor: pointer;
  }
}
